/* Box model + reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

header h1{
    text-align: center;
    margin-bottom: 20px;
}

/* Grid layout */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*3 column responsive*/
    gap: 20px;
}

/* Card */
.card{
    background: #fff;
    padding: 15px;
    border: 2px solid #ddd; /* Border */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1); /* Shadow */
    text-align: center;
    transition: transform .2s;
    position: relative; /* positioning example */
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;  /* width height */
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* button style */
button{
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: #ff914d;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

button:hover{
    background: #ff6a00;
}
